#plasmo-shadow-container {
  position: fixed !important;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#plasmo-overlay-0 {

}

.overlay {
  background: #fff;
  border-radius: 0 8px 8px 0;
  min-width: 150px;
  padding: 20px;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay__title {
  margin: 0 0 14px 0;
  font-size: 20px;
  color: #333;
}

.overlay__switch-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
}

.overlay__label {
  font-size: 14px;
  color: #333;
  user-select: none;
}

.overlay__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.overlay__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.overlay__switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8cef4;
  -webkit-transition: .4s;
  transition: .4s;
}

.overlay__switch-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.overlay__switch-input:checked + .overlay__switch-slider {
  background-color: #5FAAFD;
}

.overlay__switch-input:focus + .overlay__switch-slider {
  box-shadow: 0 0 1px #5FAAFD;
}

.overlay__switch-input:checked + .overlay__switch-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.overlay__switch-slider-round {
  border-radius: 34px;
}

.overlay__switch-slider-round:before {
  border-radius: 50%;
}