#plasmo-shadow-container {
  position: fixed !important;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#plasmo-overlay-0 {

}

.overlay {
  background: #fff;
  border-radius: 0 12px 12px 0;
  padding: 8px 6px;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30px;
  transition: width 0.3s ease;
}

.overlay:hover {
  width: 70px;
}

.overlay__title {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 600;
  font-size: 13px;
  margin: 2px 0 0 0;
  color: #3D3C4D;
  padding-left: 1px;

  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.overlay:hover .overlay__title {
  opacity: 1;
  width: 100%;
}

.overlay__label {
  font-size: 14px;
  color: #333;
  user-select: none;
}

.overlay__switch {
  position: relative;
  display: inline-block;
  width: 30px;
  transition: width 0.3s ease;
}

.overlay:hover .overlay__switch {
  width: 70px;
}

.overlay__slider-icon {
  color: #5181e3;
  pointer-events: none;
}

.overlay__slider-icon--active {
  color: #D6A5F3;
}

.overlay__switch-label {
  position: absolute;
  left: 12px;
  top: 20px;
  font-size: 12px;
  font-weight: 600;
  color: white;

  opacity: 0;
  pointer-events: none;
  transition: opacity .1s ease;
}

.overlay:hover .overlay__switch-label {
  opacity: 1;
  transition: opacity .1s ease .2s;
}

.overlay__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.overlay__switch-slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5181E3;
  -webkit-transition: .4s;
  transition: .4s;
  display: flex;
  align-items: center;
  padding: 2px;
}

.overlay__slider-knob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.overlay__switch-input:checked + .overlay__switch-slider .overlay__slider-knob {
  transform: translateX(40px);
}

.overlay:not(:hover) .overlay__switch-input:checked + .overlay__switch-slider .overlay__slider-knob {
  transform: translateX(0);
}

.overlay__switch-input:checked + .overlay__switch-slider {
  background-color: #D6A5F3;
}

.overlay__switch-input:focus + .overlay__switch-slider {
  box-shadow: 0 0 1px #D6A5F3;
}

.overlay__switch-slider-round {
  border-radius: 34px;
}

.overlay__switch-slider-round:before {
  border-radius: 50%;
}